* {
  box-sizing: border-box;
}

/* KEYFRAMES: */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1); /* Slightly larger size */
  }
}

/* ANIMATIONS */

/* ----------General CSS---------*/
body {
  background-image: url("https://gifdb.com/images/high/realistic-rainbow-drip-slime-background-m8abbv9nptnmj0b3.gif");
  background-size: cover;
  height: 100%;
  margin: 0;
}
/* ---NAV BAR--- */
.navContainer {
  font-family: "Madimi One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid blue;
  text-transform: uppercase;
  height: 10vh;
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.529936974789916) 100%
  );
}

.navLeft,
.navRight {
  border: solid rgb(255, 77, 193);
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoImg {
  height: 50px;
  border: solid yellow;
}

.smallnavContainer {
  display: none;
}

.navRight a,
.navLeft a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navRight a:hover,
.navLeft a:hover {
  font-weight: 900;
}

/* --BODY CONTAINERS-- */

.topContainer,
.midContainer {
  border: solid purple;
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}

.topContImage,
.midContImage {
  border: solid yellow;
  height: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.topContImage img,
.midContImage img {
  width: 100%;
  height: 100%;
  border: solid white;
  object-fit: contain;
  align-self: center;
}

.topContText {
  align-self: center;
  border: solid rgb(234, 0, 255);
  overflow: hidden;
  overflow-wrap: break-word;
  height: 50%;
  width: 50%;
}

.buyThisShirt {
  margin-left: 20%;
  margin-right: 20%;
}

.midContainer {
  flex-direction: row-reverse;
  height: 100vh;
}

.midContText {
  font-family: "Passion One", sans-serif;
  font-size: 100px;
  border: solid rgb(234, 0, 255);
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-shadow: -4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2,
    -16px 16px #2196f3, -20px 20px #26c6da, -24px 24px #43a047,
    -28px 28px #eeff41, -32px 32px #f9a825, -36px 36px #ff5722;
}

/* Media Query Syntax: Allows the rules of our css to apply to multiple screen sizes */

/* ----------------------------------------------{ Desktop View} */
@media (max-width: 1580px) {
}

/* -----------------------------------------------------[End Of Desktop] */

/* ----------------------------------------------{ Mid View - Ipad / Tablet} */
@media (max-width: 980px) {
  .topContainer,
  .midContainer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .midContText {
    transform: rotate(90deg);
    animation: slideInFromLeft 3s ease forwards infinite;
  }
}

/* -----------------------------------------------------[End Of MidView] */

/* ----------------------------------------------{ Mobile View} */
@media (max-width: 580px) {
  .smallnavContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid blue;
    text-transform: uppercase;
    height: 10vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 0.529936974789916) 100%
    );
  }
  .navRight {
    display: flex;
    width: 40%;
    padding: 3%;
    align-items: center;
  }

  .navContainer {
    display: none;
  }

  .topContainer,
  .midContainer {
    flex-direction: column;
    align-items: center;
  }

  .topContImage,
  .midContImage {
    justify-content: center;
    height: 50%;
    width: 100%;
  }

  .topContImage img,
  .midContImage img {
    width: 100%; /* Make the image responsive */
    height: 100%; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image does not exceed its container */
  }

  .topContText,
  .midContText {
    width: 100%; /* Allow text to take full width on mobile */
    height: 50%;
    text-align: center;
  }
  .midContText {
    transform: rotate(0deg);
    animation: scaleUp 1s ease infinite;
  }

  .topContainer {
    margin-bottom: 20%;
  }
}
/* -----------------------------------------------------[End Of Mobile] */

/* HIDE ALL BORDERS: */

/* * {
  border: none !important;
} */
