/* ----------General CSS*/

body {
  background-image: url("https://gifdb.com/images/high/realistic-rainbow-drip-slime-background-m8abbv9nptnmj0b3.gif");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid blue;
  padding: 0% 2% 0% 2%;
  text-transform: uppercase;
}

.navLeft,
.navRight {
  border: solid rgb(255, 77, 193);
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoImg {
  height: 50px;
  border: solid yellow;
}

.smallnavContainer {
  display: none;
}

.navRight a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Media Query Syntax: Allows the rules of our css to apply to multiple screen sizes */

/* ----------------------------------------------{ Desktop View} */
@media (max-width: 1580px) {
  .smallnavContainer {
    display: none;
  }
}

/* -----------------------------------------------------[End Of Desktop] */

/* ----------------------------------------------{ Mid View - Ipad / Tablet} */
@media (max-width: 980px) {
  .smallnavContainer {
    display: none;
  }
}

/* -----------------------------------------------------[End Of MidView] */

/* ----------------------------------------------{ Mobile View} */
@media (max-width: 580px) {
  .smallnavContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid blue;
    text-transform: uppercase;
    padding: 0% 0% 0% 0%;
  }
  .navRight {
    display: flex;
    width: 40%;
    padding: 3%;
    align-items: center;
  }

  .navContainer {
    display: none;
  }
}

/* -----------------------------------------------------[End Of Mobile] */
